@import url('https://fonts.googleapis.com/css?family=Figtree&display=swap');

/*-- scss:defaults --*/

$font-family-sans-serif: 'Figtree', sans-serif;

/*-- scss:rules --*/

.slide-background-content{
  background-image: url('./images/gradient.png');
  background-size: 100% 100%;
}